<h1>Create New</h1>
  <%= form_for @dog do |t| %> <!-- Create form for user object -->
    Name: <%= t.text_field :name %> <!-- Create a text field that sends its value under the key name-->
    Age: <%= t.text_field :age %><!-- Create a text field that sends its value under the key email -->
    <%= t.submit %> <!-- Create submit button-->
  <% end %>


<p>Find me in app/views/dogs/new.html.erb</p>
